nav .page2 {
  background-color: salmon;
  border: 1px solid black;
  border-style: groove;
  border-radius: 5px;
  color: black;
}
nav .page2 > a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 14px;
  padding: 5px;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------------Practice-styles------------------ */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
.container {
  margin: 2em 2em;
}
.view h1 {
  padding: 10px 0px 0px 10px;
}

.one {
  color: white;
  background-color: #e71e64;
  grid-area: one;
}
.two {
  color: white;
  background-color: #fc9b19;
  grid-area: two;
}
.three {
  color: white;
  background-color: #a93bb6;
  grid-area: three;
}
.four {
  color: white;
  background-color: #576c79;
  grid-area: four;
}

.view {
  display: grid;
  gap: 0.5em;
  justify-content: center;
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(4, 200px);
  grid-template-areas:
    "one one two two"
    "one one three four";
}

@media screen and (max-width: 576px) {
  .view {
    grid-template-rows: repeat(4, 10em);
    grid-template-columns: 90%;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four";
    row-gap: 1em;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .view {
    grid-template-rows: repeat(4, 10em);
    grid-template-columns: 90%;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four";
    row-gap: 1em;
  }
}
