nav .page2 {
  background-color: salmon;
  border: 1px solid black;
  border-style: groove;
  border-radius: 5px;
  color: black;
}
nav .page2 > a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 14px;
  padding: 5px;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ------------------Practice-styles------------------ */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
.container {
  margin: 2em 2em;
}
.view h1 {
  padding: 10px 0px 0px 10px;
}
.view {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 200px);
  justify-content: center;
}

.one {
  color: white;
  background-color: #e71e64;
  grid-column: 1/3;
  grid-row: 1 / 3;
}
.two {
  color: white;
  background-color: #fc9b19;
  grid-column: 3/5;
  grid-row: 1 / 2;
}
.three {
  color: white;
  background-color: #a93bb6;
}
.four {
  color: white;
  background-color: #576c79;
}

@media screen and (max-width: 576px) {
  .view {
    grid-template-columns: repeat(1, 90%);
    grid-template-rows: repeat(4, 10em);
    justify-content: center;
    row-gap: 1em;
  }
  .one {
    color: white;
    background-color: #e71e64;
    grid-column: 1;
    grid-row: 1;
  }
  .two {
    color: white;
    background-color: #fc9b19;
    grid-column: 1;
    grid-row: 2;
  }
  .three {
    color: white;
    background-color: #a93bb6;
    grid-column: 1;
    grid-row: 3;
  }
  .four {
    color: white;
    background-color: #576c79;
    grid-column: 1;
    grid-row: 4;
  }
}
